


* {
    margin: 0;
    padding: 0; }

.container {

	}

.block-flex {
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 100%;
}




/* HEADER */
.header-info {
    height: 130px;
    font-family: "Roboto Condensed";
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
    height: 100%;
    width: 100%;
}


.header-logo {
    vertical-align: middle;
}

.header-title {
    text-align: center;
}

.header-span {
    display: inline-block;
    vertical-align: middle;
}

.header-bigfit {
    color: #6aa13a;
    font-size: 30px;
    font-weight: 700;
}

.header-smollfit {
    color: #333;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

.header-padd {
    padding: 10px 0;
}

    .header-contact>img{
        margin: 3px 8px;
        border-radius: 25px;
        cursor: pointer;
    }

    .header-contact>img:hover{
        box-shadow: 0px 0px 43px 0px rgba(46,58,72,0.49);
    }


.header-contact h2 {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
}

.header-btn {
    text-align: center;
    margin-top: 15px;
}
.head-btn {
    width: 231px;
    height: 34px;
    background-color: #3a82e6;
    border-radius: 5px;
    border: 0;
    border-bottom: 2px solid #2e3a48;
    color: white;
    font-family: "Roboto";
    font-size: 15px;
    margin: 10px 0;
}

.head-btn:hover {
    box-shadow: 3px 9px 43px 0px rgba(46,58,72,0.49);

}
.empty { width: 3%; }

.header-video {
   background: url(images/bg-green.png) repeat-y,
       #f1f3f5 url(images/bg-gray.png) repeat-y 100% 0;
       background-size: 50%;
    height: 100%;
    min-height: 550px;
    width: 100%;
    //min-width: 600px;
}

    .header-video>.container {
        height: 100%;
    }


.video {
    margin: auto;
    height: 420px;
    margin-top: 5%;
}

.video iframe {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}


.header-video-item {
    display: inline-flex;
}


.video-text {
    font-family: Georgia;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    line-height: 35px;
    text-align: left;
    margin: auto;
    padding-top: 15%;
}

.video-btn {
    width: 165px;
    height: 38px;
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    background-color: #76be32;
    border-radius: 3px;
    border: 0;
    border-bottom: 3px solid #468815;
    margin-bottom: 20px;
}






/* BODY */


/* Указатели для <768 */
.carousel-indicators {
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    left: 0;
    margin: auto;
}
.carousel-indicators .active {
    width: 16%;
    height: 100%;
    border-bottom: 3px #ba8047 solid;
    display: inline-flex !important;
}
.nav>li .active {
    display: inline-flex !important;
}


.carousel-indicators .active>img {
    border: 3px solid #ba8047;
}
.carousel-indicators .active>a {
    color: #ba8047;
    text-decoration: none;
    background: white;
}



/* Указатели для <768 */
.carousel-indicators-smoll {
    margin: auto;
    width: 100px;
}


.carousel-indicators-smoll .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #76be32;
}

.carousel-indicators-smoll li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid #ddc0a3;
    border-radius: 10px;
}





.nav {
    border-bottom: 1px #c6cfd8 solid;
    width: 100%;
    align-items: flex-end;
}

.nav>li {
    width: 15%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    border-radius: 0;
}

.nav>li>img {
    border: 3px solid #c6cfd8;
    border-radius: 40px;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.35);
    margin-bottom: 10px;
}

.nav>li>a{
    text-align: center;
    width: 100%;
    padding: 0;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background: white;
}

.nav-title {
    width: 90%;
    font-family: Georgia;
    font-size: 14px;
    color: #3a82e6;
    font-weight: 700;
    font-style: italic;
    text-indent: 0px;
    margin: 13px 0 0 0;
}

.nav-price {
    font-family: Georgia;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    font-style: italic;
    text-indent: 0;
}

.carousel-inner img {
    margin: 3% 0 0 8%;
}

.carousel-caption {
    top: 15%;
    left: 47%;
    width: 50%;
    height: 100%;
}

.carousel-caption p {
    color: #666;
    font-family: Roboto;
    font-size: 15px;
    line-height: 25px;
    width: 90%;
    text-align: left;
    top: 25%;
    left: 9%;
    position: relative;
    text-shadow: none;
}

.carousel-price {
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    width: 84%;
}

.carousel-price h3 {
    color: #333;
    font-family: Georgia;
    font-weight: 700;
    font-style: italic;
    font-size: 15px;
}

.price-big {
    color: #333;
    font-size: 25px;
}

.price-green {
    color: #6aa13a;
    font-size: 25px;
}
.price-rub {
    color: #6aa13a;
}


.btn-carousel {
    position: relative;
    width: 55%;
    right: 14%;
    top: 100px;
}

.model-barocco {
    top: 9%;
}

.model-one {
    top: 9%;
}

.model-two {
    top: 9%;
}


.model-three {
    top: 9%;
}



.carousel-control { 
    width: 8%;
    margin-top: 14%;

}
.carousel-control.left {
    background-image: url(images/arrow-left.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.carousel-control.right {
    background-image: linear-gradient(to right,rgba(255, 25, 25, 0) 0,rgba(135, 255, 133, 0.5) 100%);
    background-image: url(images/arrow-right.png);
    background-repeat: no-repeat;
    background-position: right center;
}



/* bullets */

.bullets {
    background: url(images/rectangle-4.png);
    height: 430px;
    //width: 100%;
    //min-width: 600px;
}
.bullets-item {
    margin-top: 3%;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
}

.bullets-item h3 {
    line-height: 25px;
    color: #3a82e6;
    font-family: Georgia;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}

.bullets-item p {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    width: 230px;
    line-height: 25px;
}

.bull-text-first {
    text-align: left;
    padding-left: 20%;
    width: 100%;
}

/* why-us */

.why-us {
    margin-top: 7%;
    margin-bottom: 3%;
}

.why-us>h1 {
    height: 35px;
    font-family: Georgia;
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    line-height: 40px;
    color: #333;
    margin: 0 0 3% 1.5%;
}

.why-us>h1>span { color: #6aa13a; }

.why-us>p {
    width: 80%;
    font-family: Roboto;
    font-size: 15px;
    line-height: 25px;
}

/* why-us-fit */

.why-us-fit {
    background-image: url(images/who-us-bac.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 620px;
    display: flex;
    padding-left: 10px;
}

.why-us-fit h1 {
    border-bottom: 1px #999 solid;
    color: #333;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.why-us-fit p {
    color: #666;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.why-us-left {
    width: 50%;
    height: 100%;
}

.why-us-left p {
    width: 74%;
}

.wul-first {
    margin-top: 80px;
}

.wul-second {
    margin-top: 90px;
}

.why-us-right{
    width: 50%;
    height: 100%;
    text-align: right;
}

.wur-first {
    margin-top: 160px;
}

.wur-second {
    margin-top: 95px;
}

.wur-third {
    margin-top: 60px;
}

/* FOOTER */

.body-last {
    background-image: url(images/bg-foot.png);
    width: 100%;
}

.body-last-padd {
    padding: 10px;
 }

.half-fit {
    padding-right: 0;
}

.body-last h1 {
    width: 75%;
    color: #333;
    font-family: Georgia;
    font-weight: 700;
    font-style: italic;
    line-height: 50px;
    margin: auto;
    text-align: center;
    margin-top: 3%;
}

.body-last button {
    width: 40%;
    right: 0;
    top: 55px;
    height: 38px;
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    background-color: #76be32;
    border-radius: 3px;
    border: 0;
    border-bottom: 3px solid #468815;

}


.body-last-icon {
    padding: 15px;
}
.body-last-icon>div {
    width: 100%;
}





.logo {
    height: 100%;
    min-height: 280px;
    text-align: center;
}

.footer {
    border-top: 1px green solid;
    background-image: url(images/bg-foot.png);
    height: 100%;
    width: 100%;
    padding: 15px 0;
}

.footer-title {
    display: inherit;
    width: 40%;
    height: 100%;
    align-items: center;
}

.footer-title p {
    margin-left: 20px;
    text-align: left;
}

.footer .block-flex {
    width: 100%;
}

.footer-contacts {
    display: inherit;
}

.footer-contacts p {
    font-family: "Roboto Condensed";
    font-size: 22px;
    font-weight: 700;
}

.footer-contacts>img {
    margin: 3px 8px;
    border-radius: 25px;
    cursor: pointer;
}

    .footer-contacts>img:hover{
        box-shadow: 0px 0px 43px 0px rgba(46,58,72,0.49);
    }





/* PopUp */
.modal-content {
    margin: auto;
    width: 90%;
}

.modal-header {
    margin-left: 15px;
}
.modal-header h2 {
    margin: 10px;
}

.modal-green-title {
    color: #6aa13a;
    font-size: 30px;
    font-weight: 700;
}

.modal-body {
    margin-left: 25px;
}

.modal-block {
    margin-bottom: 15px;
    display: inline-flex;
    width: 85%;
    justify-content: space-between;
}

.modal-textarea {
    padding: 3px 0 3px 15px;
    border: 1px darkgrey solid;
    width: 50%;
}
@media (max-width: 768px) {
.modal-textarea {
    width: 70%;
}

}

@media (max-width: 425px)
{.modal-textarea {
    width: 85%;
    font-size: 15px;
} 
}

@media (max-width: 320px) {
.modal-textarea {
    width: 95%;
    padding: 4px 3px;
    font-size: 14px;
} 
}

.modal-item input {
    height: 20px;
    width: 20px;
    margin: 0px 15px 10px 0px;
    border: 1px darkgrey solid;
}

.modal-text {
    font-size: 17px;
    font-weight: 400;
}
.modal-text p {
    margin: 10px 0;
}

.modal-buttons {
    right: 6px;
}

@media (max-width: 768px) {
.modal-buttons {
    text-align: center;
    margin-right: 25px;
}
}


.modal-but-cancel {
    width: 150px;
    height: 40px;
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    border-radius: 4px;
    border: 0;
    border-bottom: 3px solid #a7a7a7;
    margin: 5px 15px;
}

.modal-but-submit {
    width: 150px;
    height: 40px;
    color: white;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    background-color: #76be32;
    border-radius: 4px;
    border: 0;
    border-bottom: 3px solid #468815;
    margin: 5px 15px;
}

/* общий попап  */
.modal-content-all {

}
.modal-textarea-all {
    padding: 3px 0 3px 15px;
    border: 1px darkgrey solid;
    width: 50%;
}
@media (max-width: 768px) {
.modal-textarea-all {
    width: 70%;
}

}

@media (max-width: 425px)
{.modal-textarea-all {
    width: 85%;
    font-size: 15px;
} 
}

@media (max-width: 320px) {
.modal-textarea-all {
    width: 95%;
    padding: 4px 3px;
    font-size: 14px;
} 
}

/*    font-size: 17px;
    font-weight: 400;
    margin: 30px 0px;
    font-size: x-large;*/



.modal-text-all {
    font-size: 17px;
    font-weight: 400;
}
.modal-text-all p {
    margin: 10px 0;
}

.modal-buttons-all {
    right: 6px;
}

@media (max-width: 768px) {
.modal-buttons-all {
    text-align: center;
    margin-right: 25px;
}
}

















@media (max-width: 1200px) {
.nav-short { width: 50%; }
.nav-short-three { width: 65%; }
}


@media (max-width: 992px) {
.header-contact {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 10px; }

.header-btn { width: 100%;}
.carousel-inner img { margin: 3% 0 0 0%; }
.carousel-caption p { top: 20%; }
.btn-carousel { top: 30px; }
.carousel-price h3 {
    font-size: 10px;
    width: 150px;
}
.price-big { font-size: 20px; }
.price-green { font-size: 20px; }
.fit-two-block { margin: auto; }

}


@media (max-width: 767px) {
.nav>li>img { display: none; }
.bullets-item {
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center; }

.video-text { padding-top: 1%; }

.header-contact {
border-top: 1px #76be32 solid;
     }

.header-video { background: url(images/bg-gray.png) repeat-y; }
.carousel-caption {
    top: 0;
    left: 0;
    width: 100%;
    height: 330px;
    position: inherit;  }

.nav>li { display: none; }
.carousel-indicators .active>a {
    width: 350px;
    font-size: 19px; }

.carousel-indicators .active>p {
    width: 100px;
}

.carousel-indicators .active { border: 0; }
    .carousel-caption p {
    margin: auto;
    left: 0;
    text-align: center;
    }

.btn-carousel {
    top: 35px;
    right: 0;
    margin: auto; 
    width: 200px;
}
.nav>li>img { display: none; }
.carousel-inner img {
    width: 100%;
    margin: auto; }
.model-two .carousel-price {
    justify-content: center; }
.bullets {
    height: 100%; 
    background-size: cover;
    padding: 20px 0;
    }
.bull-item {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
.bull-item-last { padding-bottom: 10%; }
.bull-text-first {
    text-align: center;
    padding-left: 0; }
.why-us-fit {
    background-position: 100% 50%;
    background-image: url(images/who-us-bac-rigth.png);
    display: inline-flex;
    flex-direction: column;
    height: 100%; }
.wur-first, .wur-second,.wur-third, .wul-first, .wul-second  {
    margin: 0; }
.why-us-left, .why-us-right {
    width: 100%;
    text-align: left; }
.why-us-fit p {
    width: 90%;
}
.why-us>h1 {
    margin: 0 0 5% 15px;
    height: 100%;
    font-size: 30px;
}
.why-us>p {
    width: 100%;
}

.body-last button { 
    width: 100%;
}
.body-last h1 {
    font-size: 22px;
    width: 95%;
    line-height: 35px;
    margin-top: 15px;
}

.footer-item { font-family: "Roboto Condensed";
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
    height: 100%;
    width: 100%; }
.footer-title { width: 100%;
    padding: 0;}   
.footer-title img { display: none;}
.footer-title p {
    margin: 10px auto;
    text-align: center; }
.footer-contacts {
    display: inline;
    width: 100%; }
.carousel-control.left { display: none; }
.carousel-control.right { display: none; }
.carousel-indicators-smoll {
    display: none;
    }
}


@media (max-width: 425px){
.video {
    margin: auto;
    height: 250px;
    margin-top: 15%;
    }
}

@media (max-width: 375px){
.carousel-caption {
    height: 370px;
}
.carousel-caption p {
    top: 15%;
}
.carousel-price {
    width: 100%;
}
.carousel-price h3 {
    font-size: 10px;
    width: 130px;
}
.price-big {
    font-size: 15px;
}
.price-green {
    font-size: 15px;
}
.logo {
    min-height: 180px;
}
.body-last button {
    top: 20px;
}




}



@media (max-width: 320px) {
.video {
    height: 180px;
}
.header-video {
    min-height: inherit;
}
.body-last h1 {
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
}
.logo {
    min-height: 160px;
}



}


